
.img1, .img2, .img3 {
    /*margin: 0 10px 0 0 ;*/
    padding: 0 5px;
    margin: 0;
}

.containerTest {
    width: 96%;
    margin: 0 auto;
    padding: 0;
}

@media all and (max-width: 575px){
    /*.img3 {*/
    /*    padding-right: 0;*/
    /*}*/

    .containerTest {
        width: 96%;
        margin: 0 auto;
    }

}